.marsText {
  /* color: #39ff14; */
  color: #47D1F7;
  font-family: 'Press Start 2P', cursive;
  margin-top: 0.15em;
}

.darkCard {
  width: 11rem; 
  border: solid 2px #47D1F7;
  background: black;
  color: #47D1F7;
  font-size: 1.5rem;
}

.button {
  width: 250px;
  background: black;
  border: solid 3px #47D1F7;
  padding: 15px;
  margin: 5px;
  color: #47D1F7 ;
  font-family: 'Press Start 2P', cursive;
  font-size: 1.0rem;
  text-decoration: none;
  border-radius: 3px;
  align-self: center;
}

button:hover, button:focus {
  border: solid 3px #47D1F7;
  background-color: #47D1F7;
  color: black;
  outline: 0;
}

/* .button:focus {
  border: solid 3px #47D1F7;
  background-color: black;
  color: #47D1F7;
} */

.localWeather {
  display: flex;
  justify-content: center;

}